@import './desktop/main_desktop.css';
@import './mobile/main_mobile.css';
@import './tablet/main_tablet.css';

body {
    margin: 0px auto;
    padding: 0px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section > div.container {
    margin: 0px auto;
    padding: 0px;
    width: 100%;

    display: flex;
}

