@import './animations.css';
@import './index.css';


div#idTeste {
    border: 1px solid black;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: brown;
    animation: animacaoTeste 5s infinite;
}

